@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background-color: #0a0a0a;
    color: #ededed;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  background-color: #0a0a0a;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

#root {
  width: 100%;
}
